@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
}
